# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django database
*.sqlite3

# Django media files
media/
staticfiles/

# Environment files
.env
*.env


# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker files
docker-compose*.yml
Dockerfile*

# VSCode and IDE files
.vscode/
.idea/
*.swp